
{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
<form method="POST" class="form-group">
    {% csrf_token %}
    {{ form|crispy }}
    <p>Don't have an account? <a href="/register">Create one</a></p>
    <button type="submit" class="btn btn-success">Login</button>
</form>
</div>
{% endblock %}