{% extends 'base.html' %}

{% block title %}Products Details{% endblock %}

{% load crispy_forms_tags %}

{% block  content %}
<h2> Product Management </h2>
<form method="post" action="/create_product/" class="form-group">
    <head>
        <meta charset="UTF-8">
        <title>Product Creation</title>
    </head>

    {% csrf_token %}
    <div class="input-group mb-3">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <body>
                    <hr/><input text ="product_name" placeholder="Enter Product Name" name="product_name" required/>

                    <input list="ddlBrand" placeholder="Search Brand Name"/>
                    <datalist id="ddlBrand">
                        {%for result in brands%}
                        <option>{{ result.brand_name }}</option>
                        {% endfor %}
                    </datalist>
                    <input text ="short_name" placeholder="Enter Product Name" name="short_name" />
                    <input text ="local_name" placeholder="Enter Product Name" name="local_name"/>
                    <input text ="tag" placeholder="Enter tags" name="tags"/>
                    <input text ="image_url" placeholder="Please paste URL Link" name="image_url"/>
                    <button type="Submit", class="btn btn-success">Save</button>
                    {% if messages %}
                        {% for message in messages%}
                            {{message}}
                        {% endfor %}
                    {% endif %}
                </body>
            </div>

        </div>
    </div>
    </form>
    <hr/>
    <div class="container">

        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Product Name</th>
              <th scope="col">Brand</th>
              <th scope="col">Short Name</th>
              <th scope="col">Local Name</th>
              <th scope="col">Tag</th>
              <th scope="col">Image</th>
            </tr>
          </thead>
          <tbody>
              {% for product in products %}
                <tr>
                  <th scope="row">1</th>
                  <td>{{ product.name }}</td>
                  <td>{{ product.brand_name }}</td>
                  <td>{{ product.short_name }}</td>
                  <td>{{ product.tag }}</td>
                  <td>{{ product.tag }}</td>
                  <td><img src="{{ product.image_url }}"  class="img-fluid img-thumbnail" alt="..."  width="50" height="50"></td>
                </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
{% endblock %}
