{% extends 'base.html' %}

{% block title %}Products Details{% endblock %}

{% load crispy_forms_tags %}

{% block  content %}
<h1>Products</h1>

<div class="container">
  <div class="row justify-content-md-center">
    {% for product in products %}
        <div class="col col-lg-2">
          {{ product.name }}
        </div>
        <div class="col col-lg-2">
          <img src="{{ product.image_url }}"  alt="...">
        </div>
    {% endfor %}
  </div>
</div>

{% endblock %}