{% extends 'base.html' %}

{% block title %}User Profile Details{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <h1>User Profile</h1>
    <p>Username: {{ user }} </p>
    <p>First Name: {{ user.first_name }} </p>
    <p>Last Name: {{ user.last_name }} </p>
    <p>Email: {{ user.email }} </p>
</div>

{% endblock %}