{% extends 'base.html' %}

{% block title %}Create an Account{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <form method="POST" class="form-group">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-danger">Register</button>
    </form>
</div>
{% endblock %}